/* 主题样式 Theme */

/* dark-theme 暗色主题  */
.dark-theme {
  --background: #141414;
  --background-dark: #182831;
  --primary: #cecece;
  --primary-light: #cecece;
  --primary-dark: #cecece;
  --secondary: #253e49;
  --secondary-light: #253e49;
  --secondary-dark: #253e49;
  --light: #c9c9c9;
  --dark: #a5a5a5;
  --gray1: #727272;
  --gray2: #444444;
  --gray3: #838383;
  --gray4: #9b9b9b;
  --gray5: #a1a1a1;
  /* --gray1: #727272;
  --gray2: #444444;
  --gray3: #2e2e2e;
  --gray4: #242424;
  --gray5: #141414; */
}

/* light-theme 亮色主题  */
.light-theme {
  --background: #ffffff;
  --background-dark: #292F36;
  --primary: #23A1D7;
  --primary-light: #e9f6fb;
  --primary-dark: #d3ecf7;
  --secondary: #3388ac;
  --secondary-light: #ebf3f7;
  --secondary-dark: #d6e7ee;
  --light: #ffffff;
  --dark: #303133;
  --gray1: #f2f6fc;
  --gray2: #c0c4cc;
  --gray3: #909399;
  --gray4: #606266;
  --gray5: #303133;
}

/* pink-theme 粉色主题  */
.pink-theme {
  --background: #ffffff;
  --background-dark: #292F36;
  --primary: #f05993;
  --primary-light: #feeef4;
  --primary-dark: #fcdee9;
  --secondary: #F77086;
  --secondary-light: #fef1f3;
  --secondary-dark: #fde2e7;
  --light: #ffffff;
  --dark: #353535;
  --gray1: #f2f6fc;
  --gray2: #c0c4cc;
  --gray3: #909399;
  --gray4: #606266;
  --gray5: #303133;
}
