/* 主题样式 Theme */

/* dark-theme 暗色主题  */
.dark-theme {
  --background: #141414;
  --background-dark: #182831;
  --primary: #cecece;
  --primary-light: #cecece;
  --primary-dark: #cecece;
  --secondary: #253e49;
  --secondary-light: #253e49;
  --secondary-dark: #253e49;
  --light: #c9c9c9;
  --dark: #cccccc;
  --gray1: #d4d6da;
  --gray2: #9ca3aa;
  --gray3: #848a92;
  --gray4: #616770;
  --gray5: #3d4247;
}

/* light-theme 亮色主题  */
.light-theme {
  --background: #ffffff;
  --background-dark: #336bac;
  --primary: #253e49;
  --primary-light: #253e49;
  --primary-dark: #253e49;
  --secondary: #c5cacc;
  --secondary-light: #c5cacc;
  --secondary-dark: #c5cacc;
  --light: #ffffff;
  --dark: #303133;
  --gray1: #f2f6fc;
  --gray2: #c0c4cc;
  --gray3: #909399;
  --gray4: #606266;
  --gray5: #303133;
}

/* pink-theme 粉色主题  */
.pink-theme {
  --background: #f4f4f4;
  --background-dark: #f05993;
  --primary: #f05993;
  --primary-light: #feeef4;
  --primary-dark: #fcdee9;
  --secondary: #c5cacc;
  --secondary-light: #c5cacc;
  --secondary-dark: #c5cacc;
  --light: #ffffff;
  --dark: #353535;
  --gray1: #f8dcdc;
  --gray2: #c9b6b6;
  --gray3: #948686;
  --gray4: #666060;
  --gray5: #333030;
}
