@import 'theme.css';

@background: var(--background);
@background-deep: var(--background-deep);

@primary: var(--primary);
@primary-deep: var(--primary-deep);
@secondary: var(--secondary);
@secondary-deep: var(--secondary-deep);

@light: var(--light);
@dark: var(--dark);

@gray1: var(--gray1);
@gray2: var(--gray2);
@gray3: var(--gray3);
@gray4: var(--gray4);
@gray5: var(--gray5);


