@import 'theme.css';

@background: var(--background);
@background-dark: var(--background-dark);

@primary: var(--primary);
@primary-light: var(--primary-light);
@primary-dark: var(--primary-dark);
@secondary: var(--secondary);
@secondary-light: var(--secondary-light);
@secondary-dark: var(--secondary-dark);

@light: var(--light);
@dark: var(--dark);

@gray1: var(--gray1);
@gray2: var(--gray2);
@gray3: var(--gray3);
@gray4: var(--gray4);
@gray5: var(--gray5);


